body {
    margin: 0;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(51, 47, 50);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 30px;
    font-size: 3em;
    color: white;
    cursor: default;
}
.logo:hover{
    color: #008CBA;
}
.navigation a {
    font-size: 2.1em;
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #008CBA;
}

.btn-talk{
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
    background: #008CBA;
    border-radius: 10px;
    border:2px solid #008CBA;
    font-weight:500;
    transition: .3s;
}

.btn-talk:hover{
    color:#008CBA;
    background: transparent;
}


.social-links {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px;  
    background-color: rgb(176, 201, 206);  
    padding: 50px 100px;  
    flex-grow: 1;
}

.social-links a img {
    width: 70px;  
    height: 70px; 
    margin: 0 75px; 
}

.merch-section {
    max-width: 80%;
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin: 50px 10px 0px 10px;
    font-family: 'Montserrat', sans-serif;

}

.merch-section h2 {
    
    color: rgb(95, 96, 24);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
}

.merch-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.merch-item {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.1s ease box-shadow 0.1 ease;
}

.merch-item:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.25); 
    
}

.merch-item img {
    width: 100%;
    height: 75%;
    border-radius: 4px;
}

.merch-item p, .merch-item .price {
    font-size: 16px;
    color: #333;
}

.merch-item .price {
    font-weight: bold;
}

.primary {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.buy-button {
    background-color:blueviolet;
    color: white;
    padding: 10px 85px;
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.buy-button:hover {
    background-color: #45a049;
}