* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header{
    background: size 10%;
    background: white;
}

.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}

.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover {
    color: #008CBA;
}

.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #008CBA;
    border-radius: 10px;
    border: 2px solid #008CBA;
    font-weight: 500;
    transition: .3s;
}

.btn-talk:hover {
    color: #008CBA;
    background: transparent;
}

.resume {
    padding: 30px 100px;
    margin-top: 100px; /* Added margin to push content down below the fixed header */
}

.resume .content {
    max-width: 800px;
    margin: 0 auto;
    color: #555;
}

.resume h2 {
    font-size: 2em;
    color: #008CBA;
    margin-bottom: 10px;
}

.resume h3 {
    font-size: 1.5em;
    color: #555;
    margin-top: 20px;
}

.resume h4 {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}

.resume hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.resume ul {
    list-style: none;
    padding-left: 20px;
}

.section-image {
    width: 30%; /* Adjust width as needed */
    margin-left: auto;
}
